<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KrishnaChittodia</title>
    <link rel="icon" href="../assets/img/krishna.jpg" type="image/jpg">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/material-kit.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
    .form-style-9{
        max-width: 450px;
        background: #FAFAFA;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #305A72;
    }
    .mywid{
      width: 100%;
      color: black;
    }
    .mychng{
      box-shadow: inset 0px 1px 0px 0px #3985B1;
background-color: #216288;
border: 1px solid #17445E;
display: inline-block;
cursor: pointer;
color: #FFFFFF;
padding: 8px 18px;
text-decoration: none;
font: 12px Arial, Helvetica, sans-serif;
    }
    .form-style-9 ul{
        padding:0;
        margin:0;
        list-style:none;
    }
    .form-style-9 ul li{
        display: block;
        margin-bottom: 10px;
        min-height: 35px;
    }
    .form-style-9 ul li  .field-style{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 8px;
        outline: none;
        border: 1px solid #B0CFE0;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;

    }.form-style-9 ul li  .field-style:focus{
        box-shadow: 0 0 5px #B0CFE0;
        border:1px solid #B0CFE0;
    }
    .form-style-9 ul li .field-split{
        width: 49%;
    }
    .form-style-9 ul li .field-full{
        width: 100%;
    }
    .form-style-9 ul li input.align-left{
        float:left;
    }
    .form-style-9 ul li input.align-right{
        float:right;
    }
    .form-style-9 ul li textarea{
        width: 100%;
        height: 100px;
    }
    .form-style-9 ul li input[type="button"],
    .form-style-9 ul li input[type="submit"] {
        -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
        -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
        box-shadow: inset 0px 1px 0px 0px #3985B1;
        background-color: #216288;
        border: 1px solid #17445E;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        padding: 8px 18px;
        text-decoration: none;
        font: 12px Arial, Helvetica, sans-serif;
    }
    .form-style-9 ul li input[type="button"]:hover,
    .form-style-9 ul li input[type="submit"]:hover {
        background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
        background-color: #28739E;
    }
    #map {
      border: 6px solid #305A72;
  border-radius: 6px 6px 6px 6px;
  bottom: 0;
  display: block;
  height: 400px;
  width:50%;
  left: 0;
  margin: 45px 10px 10px;
  right: 0;
  top: 0;
  background-color:#eee;
       }
    </style>

</head>
<body>
<body class="profile-page">
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="https://www.linkedin.com/in/krishna-chittodia-2ba9aa123/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                      <i class="fa fa-linkedin-square"></i>
                  </a>
              </li>
                <li>
                    <a href="https://www.facebook.com/krishna.chittodia" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/krishna_chittodia/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../assets/img/a little bit ofEVERYTHING (4).png');"></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="profile">
                        <div class="avatar">
                            <img src="../assets/img/krishna.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
                        </div>
                        <div class="name">
                            <h3 class="animated infinite pulse">Krishna Chittodia</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="profile-tabs" style="margin-top:25px">
                            <div class="nav-align-center">
                                        <a href="../Landingpage.html" style="color:#555555;font-size:24px">
                                            <i class="material-icons">home</i>Home
                                        </a>
                                <div class="tab-content gallery" style="margin-top:0px;padding-bottom:0px">
                                  {{msg}}
                                  <h4>Fill in the enteries</h4>
                                  <div>
                                  <form class="form-style-9 doit" method="POST" action="send">
                                    <p >
                                      <label class="mywid">Name</label>
                                      <input type="text" name="name">
                                    </p>
                                    <p>
                                      <label class="mywid">Email Address</label>
                                      <input type="email" name="email">
                                    </p>
                                    <p>
                                      <label class="mywid">Phone Number</label>
                                      <input type="text" name="phone">
                                    </p>
                                    <p>
                                      <label class="mywid">Subject</label>
                                      <input type="text" name="subject">
                                    </p>
                                    <p>
                                      <label class="mywid">Message</label>
                                      <textarea name="message" rows="5"></textarea>
                                    </p>
                                    <p>
                                      <button type="submit" style="background-color:darkgrey" id="animate">Submit</button>
                                    </p>
                                  </form>
                                </div>
                                </div>

                            </div>
                        </div>

                        <!-- End Profile Tabs -->
                    </div>

                    </div>
                    <div class="col-md-12">
                          <div class="col-md-3" style="margin-top:180px">
                          <p><b>Address : </b>R-8/101,<br>RajNagar<br>Ghaziabad,(U.P)-201002<p>
                          <p><b>Phone no:</b>7503673841</p>
                        </div>
                          <div  class="col-md-9"style="float:left" id="map"></div>
                      </div>
                </div>


            </div>

        </div>
    </div>

</div>
<footer class="footer">
    <div class="container">
        <div class="copyright pull-right">
            &copy; 2017 <i class="fa fa-heart heart"></i>
        </div>
    </div>
</footer>


</body>
<script>
     function initMap() {
       var uluru = {lat: 28.686841758592063, lng: 77.44783307144166};
       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 14,
         center: uluru
       });
       var marker = new google.maps.Marker({
         position: uluru,
         map: map
       });
     }
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyt2c6XgPC4GIktfi5MMMp0bcpIBN5FpA&callback=initMap">
   </script>
<script>
$('.doit').addClass('animated bounceInLeft');

</script>

<!--   Core JS Files   -->
<script src="../assets/js/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/material.min.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets/js/nouislider.min.js" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="../assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="../assets/js/material-kit.js" type="text/javascript"></script>

</html>
